/*!
Theme Name: Eyes 4 Kids
Theme URI: http://screenmediagroup.com
Author: HM
Author URI: http://screenmediagroup.com
Description: Theme created by ScreenMediaGroup
Version: 0.0.1
Tags: smg
Text Domain: e4k
*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');

@nav-blue: #84b6bc;
@red-appo: #e3633b;
@red-appo-hover: #c52d03;

body {
    padding-top: 211px;
    font-family: 'Ubuntu', sans-serif;
    color: #222222;

    * {
        ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-weight: 300;
            color: #c3c4c5;
        }

        ::-moz-placeholder {
            /* Firefox 19+ */
            font-weight: 300;
            color: #c3c4c5;
        }

        :-ms-input-placeholder {
            /* IE 10+ */
            font-weight: 300;
            color: #c3c4c5;
        }

        :-moz-placeholder {
            /* Firefox 18- */
            font-weight: 300;
            color: #c3c4c5;
        }
    }
}

//--------------------------------------------------------------------------------------------------------
.blue-btn {
    background-color: @nav-blue;
    border-radius: 0;
    text-transform: uppercase;
    color: #FFF;
    padding: 10px 15px;
    font-size: 1.1rem;
    transition: all 400ms;

    &:hover,
    &:active,
    &:focus {
        color: #FFF;
        text-decoration: none;
        background-color: #62878c;
    }
}

.prenav {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: @nav-blue;
    color: #FFF;

    .lang-links {
        a {
            color: #FFF;
            display: inline-block;
            padding: 11px;
            text-transform: uppercase;
            font-weight: 300;

            &.active {
                font-weight: 700;
            }
        }
    }
}

a.request-appointment {
    color: #FFF;
    background: @red-appo;
    padding: 13px 20px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.95rem;
    margin: 10px 0;
    transition: all 400ms;

    &:hover,
    &:active {
        background-color: @red-appo-hover;
    }
}

.col-sub-title {
    h2 {
        text-transform: uppercase;
        text-align: center;
        font-weight: 300;
        margin: 0;
        font-size: 1.2rem;
    }
}

//--------------------------------------------------------------------------------------------------------
.main-navbar {
    background-color: #FFF;

    &.navbar-light {
        .nav-item {
            text-align: center;
        }

        .nav-link {
            text-align: center;
            font-size: 0.85rem;
            text-transform: uppercase;
            color: #666;
            font-weight: 700;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.active {
                color: #FFF;
                background-color: @red-appo;
            }
        }
    }

    .navbar-toggler {
        border-color: transparent;
    }
}

//--------------------------------------------------------------------------------------------------------
section.home-banner {
    //height: calc(~"100vh - 142px");
    position: relative;
    padding: 10px 0 24px;

    .text-cont {
        position: relative;
        z-index: 10;
        height: 100%;

        .row {
            height: 100%;
        }
    }

    h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 1.9rem;
    }

    p {
        font-size: 1.7rem;
        font-weight: 300;
        margin-bottom: 10px;
        line-height: 1.2;
    }

    .banner-placeholder {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.5;
    }
}

//--------------------------------------------------------------------------------------------------------
section.links {
    padding: 50px 0;

    h3 {
        font-weight: 700;
        font-size: 1.1rem;
        text-transform: uppercase;
    }

    a {
        color: @nav-blue;
    }
}

//--------------------------------------------------------------------------------------------------------
section.appointment {
    background-color: #ebebeb;
    //height: 380px;
    flex-flow: column;

    h2 {
        font-size: 1.75rem;
    }

    .container-fluid {
        height: 100%;

        > .row {
            height: 100%;

            .col-img {
                background-position: center;
                background-size: cover;
                height: 350px;
            }

            .form-holder {
                padding: 50px 0;
                width: 100%;

                textarea {
                    height: 150px;
                }
            }
        }
    }

    .btn-sig {
        //background-color: #84b6bc;
        border-radius: 0;
        text-transform: uppercase;
        //color: #FFF;
        padding: 10px 15px;
        font-size: 1.1rem;
        transition: all .4s;
    }

    .btn-previo {
        border-radius: 0;
        text-transform: uppercase;
        padding: 10px 15px;
        font-size: 1.1rem;
        transition: all .4s;
    }
}

//--------------------------------------------------------------------------------------------------------
section.kids-cards {
    background: #f8f8f8 url(img/bg-sequencer.jpg);
    background-attachment: fixed;

    img {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    p {
        margin-bottom: 0;
        font-size: 2rem;
        font-weight: 300;
    }

    a {
        .blue-btn;
        margin-top: 20px;
        display: inline-block;
    }
}

//--------------------------------------------------------------------------------------------------------

section.map {
    .col-dir {
        padding: 50px 0;
        font-size: 1.4rem;
        background-color: @nav-blue;
        color: #FFF;
        font-weight: 300;

        strong {
            font-weight: 700;
        }
    }

    ul {
        padding: 0 30px 0 60px;
        list-style-type: none;

        li {
            position: relative;

            .fa {
                position: absolute;
                left: -35px;
                top: 7px;
            }

            ul {
                padding: 0;
            }

            a {
                color: #FFF;
                text-decoration: none;
            }

        }
    }
}

//--------------------------------------------------------------------------------------------------------

section.reviews {
    padding: 60px 0;
    background-color: #ebebeb;

    h2 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 50px;
        color: #999999;
        font-weight: 300;
    }

    .card {
        color: #999;
        border-radius: 0;
        box-shadow: 2px 2px 4px rgba(58, 58, 58, 0.6);

        .card-title {
            font-size: 1.25rem;
            color: #e3633b;
            margin-bottom: 20px;
            display: inline-block;

        }

        .fa-quote-right {
            color: #CCC;
            font-size: 2rem;

        }

        .card-text {
            &.name {
                text-transform: uppercase;
                font-size: 1.2rem;
                font-weight: 700;

                small {
                    font-weight: 300;
                    text-transform: none;
                }
            }
        }
    }
}

//--------------------------------------------------------------------------------------------------------

section.instagram {

    position: relative;

    div.yellow-bomb {
        align-items: center;
        padding: 80px 44px 39px;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 310px;
        width: 310px;
        //height: 390px;
        //width: 390px;
        background-color: rgba(228, 176, 96, 0.91);
        z-index: 10;
        border-radius: 50%;

        p {
            font-weight: 700;
            font-size: 1.1rem;

            a {
                display: inline-block;
                width: 50px;
                height: 50px;
                background-color: #e3633b;
                border-radius: 50%;
                padding: 12px;
                color: #FFF;
                margin: 10px;
                transition: all 400ms;

                &:hover,
                &:active {
                    background-color: @red-appo-hover;
                }
            }
        }
    }


    div.griddie {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* or space-around */
    }

    span {
        pointer-events: none;
        display: inline-block;
        width: calc(50%);
        opacity: 0.5;
    }

    @media screen and (min-width: 50em) {
        span {
            width: calc(16.66%);
        }
    }



    figure {
        margin: 0;
        overflow: hidden;
    }

    figcaption {
        margin-top: 15px;
    }

    img {
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        border: none;
        max-width: 100%;
        height: auto;
        display: block;
        background: #ccc;
        transition: transform .2s ease-in-out;
    }
}

//--------------------------------------------------------------------------------------------------------

footer {
    padding: 40px 0 25px;
    // margin-bottom: 500px;
    background-color: @nav-blue;
    color: #FFF;

    a {
        color: #FFF;

        &:hover,
        &:active {
            color: #FFF;
            text-decoration: underline;
        }
    }

    ul {
        text-transform: uppercase;
        list-style-type: none;

        a.nav-link {
            padding: 2px 5px;
            color: #FFF;

            &:hover,
            &:active {
                text-decoration: underline;
            }

        }
    }

    .col-info {
        text-transform: uppercase;
        color: #FFF;

        strong {
            display: inline-block;
            padding: 0 0 10px;
            font-weight: 700;
            font-size: 1.3rem;
        }

        a {
            color: #FFF;

            &[href^="mailto"] {
                text-transform: none;
            }
        }
    }
}

#map {
    width: 100%;
    height: 640px;

}

//--------------------------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------------------------

.banner-page {
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;

    > .container {
        height: 100%;

        > .row {
            height: 100%;
        }
    }

    h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 3.2rem;
    }

    p {
        font-size: 1.8rem;
        font-weight: 300;
        margin-bottom: 10px;
        line-height: 1.2;

        a {
            display: block;
            max-width: 200px;
            background-color: #84b6bc;
            border-radius: 0;
            text-transform: uppercase;
            color: #FFF;
            padding: 10px 15px;
            font-size: 1.1rem;
            transition: all .4s;
            text-align: center;
            margin: 17px 0;

            &:hover,
            &:active {
                color: #FFF;
                text-decoration: none;
                background-color: #62878c;
            }
        }
    }

    &.our-practice-banner {
        height: auto;
        padding: 70px 0;
    }
}

.our-practice-content {
    background-color: #ebebeb;
    padding: 30px 0;
    font-size: 1.2em;
    font-weight: 300;
    text-align: justify;

    strong {
        color: @nav-blue;
        font-size: 1.1em;
    }

    a {
        color: #84b6bc;
        text-decoration: underline;

    }
}

.patient-forms-content {
    padding: 60px 0;

    a {
        color: @nav-blue;
    }
}

.extra-packet-info {
    height: auto;
    text-transform: uppercase;
    padding: 25px 0;
    text-align: center;

    h2 {
        font-size: 1.75rem;
        font-weight: 700;
    }

    p {
        font-size: 1.5rem;
    }
}

.resources-page-content {
    padding: 60px 0;
    background-color: #ebebeb;

    .card {
        border-radius: 2px;
        box-shadow: 1px 1px 5px rgba(204, 204, 204, 0.75);

        .card-title {
            text-align: center;
            font-weight: 700;
        }

        .card-text {
            p {
                margin-bottom: 5px;
            }
        }
    }
}

.contact-page-content {
    padding: 50px 0;
    background-color: #ebebeb;

    .col-dir {
        padding-top: 20px;
        font-size: 1.4rem;
        font-weight: 300;

        strong {
            font-weight: 700;
        }

        i.fa {
            color: @red-appo;
        }

        ul {
            padding: 0 30px 0 60px;
            list-style-type: none;

            li {
                position: relative;

                .fa {
                    position: absolute;
                    left: -35px;
                    top: 7px;
                }

                ul {
                    padding: 0;
                }

                a {
                    color: #222;
                    // text-decoration: none;
                }
            }
        }
    }

    .form-control {
        border-radius: 0;
        //border-color: #888;
    }

    textarea {
        height: 60px;
    }

}

.as-seen {
    background-color: #ebebeb;
    padding: 30px 0;

    img {
        max-width: 100%;
    }
}

.about-content {
    padding: 60px 0;
    text-align: justify;
    font-size: 1.1rem;

    img.alignright {
        float: right;
        margin: 0 0 25px 25px;
    }

    img.alignleft {
        float: left;
        margin: 0 25px 25px 0;
    }
}

.select-arrow {
    position: relative;

    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }

    &:after {
        content: "\f0d7";
        font-family: FontAwesome, sans-serif;
        position: absolute;
        right: 12px;
        top: 18px;
        transform: translateY(-50%);
        pointer-events: none;
    }
}

section.categories-section {
    padding: 60px 0;

    .col-12 {
        min-height: 150px;
        text-align: center;

        .col-resources {
            background: url(./img/resources-bg.jpg) no-repeat center;
            background-size: cover;
            height: 100%;
            position: relative;
        }

        .col-eyes-facts {
            background: url(./img/eyesfacts-bg.jpg) no-repeat center;
            background-size: cover;
            height: 100%;
        }

        .col-eyes-diseases {
            background: url(./img/eyesdiseases-bg.jpg) no-repeat center;
            background-size: cover;
            height: 100%;
        }

        .card-img-overlay {
            display: flex;
            padding: 0;
            justify-content: center;
            align-items: center;

            h5 {
                margin: 0;
                background-color: rgba(255, 255, 255, 0.75);
                padding: 10px 25px;
                text-transform: uppercase;
                transition: all 350ms;

                &.current {
                    background-color: #FFF;
                }
            }
        }

        a {
            color: #333;

            &:hover {
                h5 {
                    background-color: #FFF;
                }
            }

        }
    }
}

section.posts-columns {
    .posts-col {
        a.title {
            font-weight: 300;
            text-transform: uppercase;
            font-size: 2.75rem;
            color: #333;
        }

        .post-meta {
            color: #999;
            font-weight: 300;
            font-size: 1.4rem;

            a {
                color: #999;
            }
        }

        .img-holder {
            margin: 20px 0;

            img {
                max-width: 100%;
            }
        }

        .excerpt {
            color: #333;
        }
    }

    .navigation {
        a {
            color: #999;
            font-weight: 300;
            font-size: 1.4rem;
        }
    }

    form.search-form {
        .form-control {
            border-radius: 0;
            border-color: #CCC;
            border-right-width: 0;

            &.wb {
                border-right-width: 1px;
            }

            &:focus {
                box-shadow: none;
            }
        }

        .btn {
            border-color: #CCC;
            border-left-width: 0;
            border-radius: 0;
        }

        .blue-btn {
            display: block;
            width: 100%;
            border: 0;
            margin-top: 10px;
        }
    }

    h3.cats-heading {
        background-color: #f6f6f6;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.2rem;
        padding: 10px 0;
    }

    ul.categories-list {
        list-style-type: none;
        padding: 0;

        li {
            text-align: center;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1.1rem;
            padding: 5px 0;

            a {
                color: #333;

                &.active {
                    color: @red-appo;
                }
            }
        }
    }
}

section.go-back {
    padding: 40px 0;


    a.back-blog {
        h3 {
            padding: 2px 5px;
            display: inline-block;
            font-size: 1.1rem;
            font-weight: 300;
            text-transform: uppercase;
        }

        color:rgba(0, 0, 0, .5);

    }
}

.blog-side-container {
    margin-top: 12px;
}

.share-post {
    font-size: .8em;
    text-transform: uppercase;
    margin-top: 15px;

    .list-social {
        display: inline-block;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin-right: 5px;

            a {
                transition: all 250ms linear;
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #FFF;
                color: #2a2727;
                text-align: center;
                padding: 4px;
                font-size: 1.1em !important;

                &:hover,
                &:active,
                &:focus {
                    color: #6f9a24;
                }
            }
        }
    }
}

.alert-e4k {
    border-radius: 0;
    text-align: center;
    font-weight: 300;
    font-style: italic;
}

//--------------------------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------------------------
@media (min-width: 767px) {
    body {
        padding-top: 13%;
    }

    .col-sub-title {
        h2 {
            font-size: 1.2rem;
        }

    }

    a.request-appointment {
        padding: 10px;
        margin: 0;
    }

    section.home-banner {
        background-position: 40%;
        height: calc(~"100vh - 162px");

        h1 {

            font-size: 2.4rem;
        }

        p {
            font-size: 2.1rem;
        }

    }

    section.instagram {

        div.yellow-bomb {

            height: 310px;
            width: 310px;
        }
    }

    section.appointment .container-fluid > .row .col-img {
        height: 380px;
    }

    .extra-packet-info {
        height: 450px;
        text-align: left;

        h2 {
            font-size: 2.65rem;
        }

        p {
            font-size: 2.25rem;
        }
    }

    .banner-page {
        &.our-practice-banner {
            height: 450px;
            padding: 0;
        }
    }

}

//--------------------------------------------------------------------------------------------------------

@media (min-width: 991px) {

    .main-navbar .dropdown-menu {
        display: none;
        position: static;
        float: none;
        width: auto;
        margin-top: 10px;
        background-color: #FFF;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .dropdown-menu > li > a {
        color: #777 !important;
        padding: 5px 15px 5px 25px !important;
    }

    body {
        padding-top: 142px;
    }

    .col-sub-title {
        h2 {
            font-size: 1.2rem;
        }

    }

    a.request-appointment {
        padding: 13px 20px 0;
    }

    .main-navbar {
        &.navbar-light {
            .nav-link {
                position: relative;
                font-size: 0.85rem;
                max-width: 110px;
                text-align: center;
                text-transform: uppercase;
                color: #666;
                font-weight: 700;

                &.dropdown-toggle {
                    &:after {
                        position: absolute;
                        left: 43%;
                        bottom: -1px;
                    }
                }
            }

            .nav-item.dropdown {
                .dropdown-menu {
                    .nav-link {
                        max-width: 100%;

                        &:active {
                            color: #FFF !important;
                            background-color: @red-appo;
                        }
                    }
                }

            }
        }

        .navbar-toggler {
            border-color: transparent;
        }
    }

    section.home-banner {
        height: calc(~"100vh - 142px");

        .text-cont {
            height: 100%;

            .row {
                height: 100%;
            }
        }

        .banner-placeholder {
            opacity: 1;
        }
    }

    section.appointment .container-fluid > .row .col-img {
        height: auto;
    }
}

@media (min-width: 1200px) {
    section.instagram {

        div.yellow-bomb {

            height: 380px;
            width: 380px;
        }
    }
}

#datepicker-e4k {
    background-color: #FFF;

    + span {
        button {
            height: 40px;
        }
    }
}

.form-2steps {
    .slick-slide {
        padding: 0px 20px;
        margin: 0px 10px;
    }
}

.gj-picker.gj-picker-bootstrap {
    div[role='navigator'] {
        background-color: @nav-blue;
        color: #FFF;
        padding: 4px 0;
        height: 38px;
        text-transform: capitalize;

        div[role=period] {
            transition: 0.25s all;
            border-radius: 20px;

            &:hover {
                background-color: #3a7a82;

            }
        }

        .gj-icon {
            top: 3px;
            position: relative;
            transition: 0.25s all;
            border-radius: 20px;

            &:hover {
                background-color: #3a7a82;

            }
        }
    }
}

[type=year].gj-picker-bootstrap table tr td div,
[type=decade].gj-picker-bootstrap table tr td div,
[type=century].gj-picker-bootstrap table tr td div {
    transition: 0.25s all;
    border-radius: 40px;
    text-transform: capitalize;

    &:hover {
        background-color: #EEE;
    }
}

.gj-picker-bootstrap table tr td.gj-cursor-pointer div:hover {
    border-radius: 50%;
}

.custom-modal {
    & .modal-lg {
        max-width: 880px;
        margin: 3rem auto;
    }

    & .modal-header {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 0;
        padding: .5rem;
        padding-top: 1rem;


        & .modal-title {
            margin: 0 auto;
            font-weight: 600;
        }

        & .close {
            margin: 0;
        }

    }

    & .modal-body {
        padding: 1rem 4rem;
        padding-top: .3rem;
    }

    & .form-modal-container {
        & .modal-form-field {
            margin-bottom: 1rem;

            & .form-control {
                border-radius: 0;
            }

            & select option[disabled] {
                display: none;
            }

            & .form-control-date {
                width: 32.33331%;
                margin: 0 !important;
                box-sizing: border-box;
                display: inline-block;
                padding: 0.3rem !important;
            }

            & .form-control-col-2 {
                max-width: 48.5%;
                display: inline;
            }


        }

        & .modal-form-field-hidden {
            display: none;
        }

        & h3 {
            text-align: center;
            font-size: 1.3rem;
            font-weight: 600;
            padding: 1.1rem 0;
            margin: 0 auto;
            border-top: 4px solid #E5AB5B;
        }

        & .patient-fields-content {
            margin-bottom: 1rem;

            & h3 {
                border-color: #CB6A4F;
            }
        }

        & .medical-fields-content {
            & h3 {
                border-color: #8AB4B6;
            }
        }
    }

    & .btn-block {
        background: #F2AA3E;
        display: block;
        width: auto;
        margin: 0 auto;
        padding: 1rem 3rem;
    }
}

.is-hidden {
    margin-top: -115px;
}

.appointment-container {
    background: url(img/new-img-appointment.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 2rem;

}

.appointment-ellipse {
    background: url(img/elipse-text.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 600px;
    width: 100%;
    left: -10vw;
}

.row-appointment {
    min-height: 60vh;
    position: relative;
}

.appointment-item {
    padding-top: 10rem;
}

.appointment-text {
    padding: 3rem 10px;
    font-size: 2.5rem;
    color: white;
    font-weight: 100;
    line-height: 3.2rem;

    & strong {
        font-weight: 900;
    }
}

.btn-appointment {
    color: white;
    background: #84b6bc;
    font-weight: 900;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0;

    &:hover {
        background: #6ba1a7;
    }
}

.prenav-mobile {
    padding: 1rem;
}

@media (max-width: 1680px) {}

@media (max-width: 1440px) {}


@media (max-width: 1366px) {
    .appointment-ellipse {
        height: 440px;
    }
}

@media (max-width: 1280px) {}

@media (max-width: 1024px) {
    .appointment-text {
        font-size: 2rem;
        line-height: 3rem;
    }

    .btn-appointment {
        font-size: 1.2rem;
    }
}

@media (max-width: 991px) {
    .row-appointment {
        min-height: 35vh;
    }

    .appointment-text {
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding-left: 2rem;
    }

    .appointment-item {
        padding-left: 2rem;
    }

    section.kids-cards p {
        margin-bottom: 0;
        font-size: 1.3rem;
        font-weight: 300;
    }

    .custom-modal .modal-body {
        padding: 1rem;
    }
}

@media (max-width: 768px) {
    .appointment-container {
        background: #DF5B3B none;
        text-align: center;
        padding: 2rem 0;
    }

    .appointment-ellipse {
        display: none;
    }

    .appointment-text {
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding: 1rem;
        background: none;
        min-height: unset;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .appointment-item {
        padding-top: 2rem;
        margin-left: 0;
    }

    .row-appointment {
        min-height: unset;
    }

    .owl-carousel .owl-item img {
        display: block;
        width: 100%;
        height: auto !important;
        max-width: 55px;
    }

    section.links {
        padding-top: 25px;
        padding-bottom: 0;
    }

    section.home-banner h1 {
        font-size: 1.6rem;
    }

    section.home-banner p {
        font-size: 1.5rem;
    }

    .blue-btn {
        display: block;
    }

    .prenav-mobile {
        padding: 0rem;
    }

    a.request-appointment {
        padding: 10px;
    }

    .custom-modal .modal-lg {
        margin: .5rem;
    }
}

@media (max-width: 414px) {
    .custom-modal .modal-body {
        padding: .5rem;
    }
}

@media (max-width: 375px) {
    .btn-appointment {
        font-size: 1rem;
    }
    section.instagram div.yellow-bomb {
        height: 250px;
        width: 250px;
    }
}

@media (max-width: 340px) {
    .navbar-brand img {
        max-width: 175px;
    }
    .appointment-item {
        padding-left: 0;
        margin: 0 !important;
    }
}

.dot {
    border-radius: 50%;
}

@-webkit-keyframes loader-1 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transition-timing-function: ease-out;
    }

    50% {
        -webkit-transform: translate3d(0, 6px, 0);
        transition-timing-function: ease-out;
    }
}

@-moz-keyframes loader-1 {
    0% {
        -moz-transform: translate3d(0, 0, 0);
        transition-timing-function: ease-out;
    }

    50% {
        -moz-transform: translate3d(0, 6px, 0);
        transition-timing-function: ease-out;
    }
}

@-o-keyframes loader-1 {
    0% {
        -o-transform: translate3d(0, 0, 0);
        transition-timing-function: ease-out;
    }

    50% {
        -o-transform: translate3d(0, 6px, 0);
        transition-timing-function: ease-out;
    }
}

@keyframes loader-1 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition-timing-function: ease-out;
    }

    50% {
        -webkit-transform: translate3d(0, 6px, 0);
        -moz-transform: translate3d(0, 6px, 0);
        -ms-transform: translate3d(0, 6px, 0);
        transform: translate3d(0, 6px, 0);
        transition-timing-function: ease-out;
    }
}

.loader-1 {
    width: 30px;
    height: 20px;
    font-size: 0;
    text-align: center;
    margin: 1rem auto;
    margin-bottom: 0;
}

.loader-1 .dot {
    width: 4px;
    height: 4px;
    display: inline-block;
    margin-right: 3px;
    background-color: #26bbf0;
    -webkit-animation: loader-1 1s infinite;
    -moz-animation: loader-1 1s infinite;
    -o-animation: loader-1 1s infinite;
    animation: loader-1 1s infinite;
}

.loader-1 .dot:nth-child(1) {
    -webkit-animation-delay: 0.48s;
    -moz-animation-delay: 0.48s;
    -o-animation-delay: 0.48s;
    animation-delay: 0.48s;
}

.loader-1 .dot:nth-child(2) {
    -webkit-animation-delay: 0.24s;
    -moz-animation-delay: 0.24s;
    -o-animation-delay: 0.24s;
    animation-delay: 0.24s;
}

.loader-1 .dot:nth-child(3) {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

.loader-1.grey .dot {
    background-color: #ccc;
}

.loader-1.colorful .dot:nth-child(1) {
    background-color: #d88486;
}

.loader-1.colorful .dot:nth-child(2) {
    background-color: #ffbc0d;
}

.loader-1.colorful .dot:nth-child(3) {
    background-color: #26bbf0;
}

.freezePage{
    overflow: hidden;
    height: 100%;
    position: relative;
}

.empty-page-content {
    min-height: 70vh;
}

.mt1 {
    margin-top: .5rem;
}
